# ignore logs
/logs/eval_res_of_llm/*
/logs/llm_score/*
*.log

# ignore temp data files
*.pk
/data/evaluation/eval_res_of_llm/*
/data/evaluation/llm_score/*
/data/classification/**/*.csv

# ignore .pyc
*.pyc
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg